<!DOCTYPE html>
<html>
    <head>
        <title>
            Countdown!
        </title>
    </head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="ide.css">
    <body>
            <nav class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand">
                          dCoders
                        </a>
                      </div>
                      <ul class="nav navbar-nav navbar-left">
                            <li><a id="apiLink" target="_blank" href=""></a></li>
                          </ul>
                    </div>
                </nav>
        <canvas id ="canvas"></canvas>
    </body>
    <script src="timer.js"></script>
</html>
